body{
  background-color: #B4DA55;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#crafts{
  color: white;
  margin: 2rem;
}
#crafts img{
  height: 32rem;
  width: auto
}

#fuckDiv{
  padding: 5rem;
  font-size: 4rem;
  color: #B4Da55;
}

#fuckDiv:hover{
  color: #B4Da55;
  text-shadow: 0.14rem 0.14rem 0.5rem rgb(143, 173, 67);
}

#fuckDiv p:hover{
  animation: swaying 1s ease-in-out infinite;
  
}

#imageDiv{
  align-items: center;
  background-image: url("../src/images/broken-glass.jpeg");
  display: flex;
  justify-content: center;
  min-height: 50rem;
  width: 100%;
}

#sectionB{
  margin-bottom:4rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swaying {
	0% {transform: translateX(-100px) translateY(-50px) rotate(-20deg);}
	25% {transform: translateX(100px) translateY(0px) rotate(20deg);}
	50% {transform: translateX(-100px) translateY(50px) rotate(-20deg);}
	75% {transform: translateX(100px) translateY(0px) rotate(20deg);}
	100% {transform: translateX(-100px) translateY(-50px) rotate(-20deg);}
}
